<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccsu.shuziyingxin.dao.SearchDao">
    <select id="queryAll" resultType="com.ccsu.shuziyingxin.pojo.Search">
      select * from search;
    </select>

    <select id="queryKeyName" resultType="string">
      select key_word from search;
    </select>
    <select id="querySearch" resultType="com.ccsu.shuziyingxin.pojo.Search">
        select * from search where key_word = #{key};
    </select>
    <insert id="addKeyWord" parameterType="string">
        insert into search(key_word,class1)
        value (#{keyWord},#{class1})
    </insert>
    <delete id="delete" parameterType="string">
        delete from search where key_word = #{keyWord}
    </delete>
</mapper>