<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccsu.shuziyingxin.dao.StudentDao">
    <select id="queryByStuNo" resultType="com.ccsu.shuziyingxin.pojo.Student">
        select * from student where student_no=#{stuNo}
    </select>
    <insert id="insert" parameterType="com.ccsu.shuziyingxin.pojo.Student">
        insert into student(student_no,password,student_name,
        college,speciality,class1,dormitory)
        value (#{studentNo},#{password},#{studentName},
        #{college},#{speciality},#{class1},#{dormitory})
    </insert>
    <update id="update" parameterType="com.ccsu.shuziyingxin.pojo.Student">
        update student
        <set>
            <if test="password != null">password=#{password},</if>
            <if test="studentName != null">student_name=#{studentName},</if>
            <if test="college != null">college=#{college},</if>
            <if test="speciality != null">speciality=#{speciality},</if>
            <if test="class1 != null">class1=#{class1},</if>
            <if test="dormitory != null">dormitory=#{dormitory},</if>
        </set>
        where student_no = #{studentNo}
    </update>
</mapper>